form {
    margin: 10px;
    input{
        padding: 3px 10px;
        border: 2px solid transparent;
        outline: none;
        transition: border .4s ease-in-out;
        margin-bottom: 10px;

        &:focus {
            border:2px solid grey;
        }
    }

}